<!-- Footer -->
	<footer class="bg3 p-b-32">
        <img src="images/footerbg.png" alt="" class="img-fluid" style="background-color: #fff;">
		<div class="container">
			<div class="col-lg-6 mb-5 m-auto pb-5">
					<h4 class="p-b-30 text-center subscribe-title"> Stay Updaed: Subscribe for Organic Food <br> News and Exclusive Offers </h4>
					<form class="d-flex justify-content-center align-items-center subscribe shadow-lg"> 
						<div class="wrap-input1 w-full">
							<input class="input1 bg-none plh1 stext-107 cl10" type="text" name="email" placeholder="Enter your mail here">
							<!-- <div class="focus-input1 trans-04"></div> -->
						</div>
						<button class="flex-c-m stext-101 cl0 size-103 bg1 bor1 hov-btn2 p-lr-15 trans-04"> Subscribe </button>
					</form>
				</div>
			<div class="row mt-5">

				<div class="col-sm-6 col-lg-3 p-b-50 col-6">
					<!-- <h4 class="stext-301 p-b-30">
						Categories
					</h4> -->

					<ul class="p-0">
						<li class="p-b-5"> <a href="#" class="stext-115 cl10 hov-cl1 trans-04"> Contact Us </a></li>
						<li class="p-b-5"> <a href="#" class="stext-115 cl10 hov-cl1 trans-04"> About Us </a></li>
						<li class="p-b-5"> <a href="#" class="stext-115 cl10 hov-cl1 trans-04"> Careers </a></li>
						<li class="p-b-5"> <a href="#" class="stext-115 cl10 hov-cl1 trans-04"> Our Stories </a> </li>
						<li class="p-b-5"> <a href="#" class="stext-115 cl10 hov-cl1 trans-04"> News & Blogs </a> </li>
						<li class="p-b-5"> <a href="#" class="stext-115 cl10 hov-cl1 trans-04"> Corporate Information </a> </li>
					</ul>
				</div>

				<div class="col-sm-6 col-lg-3 p-b-50 col-6">
					<ul class="p-0">
						<li class="p-b-5"> <a href="#" class="stext-115 cl10 hov-cl1 trans-04"> Payments </a></li>
						<li class="p-b-5"> <a href="#" class="stext-115 cl10 hov-cl1 trans-04"> Shipping </a></li>
						<li class="p-b-5"> <a href="#" class="stext-115 cl10 hov-cl1 trans-04"> Cancellation & Returns </a></li>
						<li class="p-b-5"> <a href="#" class="stext-115 cl10 hov-cl1 trans-04"> FAQ </a> </li>
						<li class="p-b-5"> <a href="#" class="stext-115 cl10 hov-cl1 trans-04"> Report Infringement </a> </li>
					</ul>
				</div>

				<div class="col-sm-6 col-lg-3 p-b-50 col-6">
					<ul class="p-0">
						<li class="p-b-5"> <a href="#" class="stext-115 cl10 hov-cl1 trans-04"> Terms of Use </a></li>
						<li class="p-b-5"> <a href="#" class="stext-115 cl10 hov-cl1 trans-04"> Security </a></li>
						<li class="p-b-5"> <a href="#" class="stext-115 cl10 hov-cl1 trans-04"> Privacy Policy</a></li>
						<li class="p-b-5"> <a href="#" class="stext-115 cl10 hov-cl1 trans-04"> Sitemap </a> </li>
						<li class="p-b-5"> <a href="#" class="stext-115 cl10 hov-cl1 trans-04"> GDPR Compliance</a> </li>
					</ul>
				</div>

				<div class="col-sm-6 col-lg-3 p-b-50 col-6">

					<p class="stext-115 cl10 size-201">
						Any questions? Let us know in store at 327 Park Ave S, Greater Noida,
NY 256412, Noida, UP <br> call us on (+91) 12345678
					</p>

					<div class="p-t-27">
						<a href="#" class="fs-18 cl10 hov-cl1 trans-04 m-r-16">
							<i class="fa fa-facebook"></i>
						</a>

						<a href="#" class="fs-18 cl10 hov-cl1 trans-04 m-r-16">
							<i class="fa fa-instagram"></i>
						</a>

						<a href="#" class="fs-18 cl10 hov-cl1 trans-04 m-r-16">
							<i class="fa fa-pinterest-p"></i>
						</a>
					</div>
				</div>

			</div>

			<div class="p-t-40">
				<div class="flex-c-m flex-w p-b-18">
					<a href="#" class="m-all-1">
						<img src="images/icons/icon-pay-01.png" alt="ICON-PAY">
					</a>

					<a href="#" class="m-all-1">
						<img src="images/icons/icon-pay-02.png" alt="ICON-PAY">
					</a>

					<a href="#" class="m-all-1">
						<img src="images/icons/icon-pay-03.png" alt="ICON-PAY">
					</a>

					<a href="#" class="m-all-1">
						<img src="images/icons/icon-pay-04.png" alt="ICON-PAY">
					</a>

					<a href="#" class="m-all-1">
						<img src="images/icons/icon-pay-05.png" alt="ICON-PAY">
					</a>
				</div>

				<p class="stext-107 cl6 txt-center">
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

				</p>
			</div>
		</div>
	</footer>